
//      navBar

.profile-card{
  text-align: center ;
  padding: 0 20px 20px 20px;
  img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
}



.nav-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .nav-is-mobile .nav-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.nav-app-name {
    margin-left: 8px;
  }
  
  .nav-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .nav-is-mobile .nav-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  mat-icon{
    padding-right: 10px;
  }
  
  mat-sidenav{
    width: 20%;
  }
  
  mat-nav-list{
    padding-top: 20px;
  }

