
<!--                 sideBar             -->

<div class="nav-container"  >
  <mat-toolbar color="primary" class="nav-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="nav-app-name"> FREEWATT </h1>
  </mat-toolbar>

  <mat-sidenav-container class="nav-sidenav-container">
    <mat-sidenav #snav  fixedTopGap="56">
      <mat-nav-list>
        <mat-list-item  routerLink="/" routerLinkActive="active">
          <mat-icon>home</mat-icon> Dashboard
        </mat-list-item>
        
        <mat-list-item  routerLink="/products" routerLinkActive="active">
          <mat-icon>ballot</mat-icon> Liste des produits
        </mat-list-item>
        
        <mat-list-item  routerLink="/sales" routerLinkActive="active">
          <mat-icon>point_of_sale</mat-icon> Sales
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
      
    </mat-sidenav-content>
    
  </mat-sidenav-container>
</div>



