
<div>
  <button mat-raised-button (click)="addProduct()" color="primary">Add</button>
</div>




<!-- Table -->

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- productName Column -->
    <ng-container matColumnDef="productName">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.productName}} </mat-cell>
    </ng-container>
  
    <!-- price Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> price </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
    </ng-container>
  
    <!-- description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>
  
    <!-- categoryID Column -->
    <ng-container matColumnDef="categoryID">
      <mat-header-cell *matHeaderCellDef> categoryID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.categoryID}} </mat-cell>
    </ng-container>
    
    <!-- commentaire Column -->
    <ng-container matColumnDef="commentaire">
      <mat-header-cell *matHeaderCellDef> commentaire </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.commentaire}} </mat-cell>
    </ng-container>
    
    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let element"> 

        <div class="delete button">
          <button mat-mini-fab color="accent" (click)="deleteProduct(element)" aria-label="delete button">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        
        <div class="edit button">
          <button mat-mini-fab color="accent" (click)="uppdateProduct(element)" aria-label="edit button">
            <mat-icon>edit</mat-icon>
          </button>
        </div>


      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>


