/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.material-table {
  margin: 24px;
  padding: 0;
  overflow: hidden;
  clear: both;
}

.mat-header-cell {
  font-size: large;
  color: black;
}

.mat-raised-button {
  margin: 20px !important;
  width: 100px;
}

h1 {
  text-align: center;
}

